
input {
  margin-left: 20px;
}

select {
  margin-left: 20px;
}

form {

  margin-left: 4%;
}

.borderMe  {
  min-height: 350px;
  border: 2px solid lightblue;
  border-radius: 25px;
  margin-top: 3%;
  /* margin-left: 125px; */
 }
